@font-face {
    font-family: kindnrich;
    src: url(kindnrich.otf);
}
html {
    height: 100%;
}

body {
    font-family: kindnrich;
    background-image: linear-gradient(180deg, goldenrod 0%,  lightyellow 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content {
    display: grid;
    height: 100%;
    width: 100%;
    min-width: 550px;
    grid-template-rows: 1fr 2fr 3fr 500px;
    width: auto;
}

#navigation {
    display: grid;
    background-color:black;
    grid-template-columns: repeat(4, 1fr);
    border-style: solid;
    column-gap: 3px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#navigation > button {
    font-family: kindnrich;
    height: 50px;
    width: 100%;
    border-width: 0em;
    background-color: goldenrod;
    font-size: xx-large;
    filter: brightness(1);
}

#navigation > button:hover {
    filter: brightness(0.9);
}


#logo {
    margin-top: 6rem;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: forestgreen;
    font-size: 150px;
    height: fit-content;
}

#blurb {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    /* text-align: justify;
    text-justify: inter-word; */
    font-size: 60px;
}

span {
    float: right;
}


#plates {
    margin-left: auto;
    margin-right: auto;    
    font-size: 50px;
    border-width: 3px;
    width: 500px;
    height: 5em;
}

#plates > div {
    border-style: double;
    background-color: forestgreen;
}
#plates > div:hover {
    background-color: lightyellow;
    cursor: pointer;
}
#plates > div:hover > 
    img { display: block; }

img {
    width: 100%;
    max-height: 45vh;
    display: none;
}


header {
    font-size: 48pt;
    text-align: center;
    font-weight: 550;
}

#OpeningTimes {
    font-size: 48pt;
    text-align: center;
}

table {
    font-weight: 550;
    font-size: 28pt;
    margin-left: auto;
    margin-right: auto;
    border-color: forestgreen;
    border-style: ridge;
    width: 600px;
}

th {
    color: forestgreen;
}

address {
    font-size: 38pt;
    padding-top: 3rem;
    margin-right: auto;
    margin-left: auto;
}