@font-face {
    font-family: kindnrich;
    src: url(kindnrich.otf);
}
@font-face {
    font-family: amatic;
    src: url(AmaticSC-Regular.ttf);
}
html {
    height: 100%;
}

body {
    font-family: amatic;
    background-image: linear-gradient(180deg, rgb(227, 231, 226) 0%,  rgb(197, 197, 197) 60%,  rgb(227, 231, 226) 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#content {
    display: grid;
    height: 100%;
    width: 100%;
    min-width: 550px;
    color: rgb(50, 51, 51);
    grid-template-rows: 1fr 2fr 3fr 500px;
    width: auto;
}

#navigation {
    display: grid;
    background-color:transparent;
    grid-template-columns: repeat(4, 1fr);
    border-style: none;
    column-gap: 3px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#navigation > button {
    font-family: amatic;
    height: 50px;
    width: 100%;
    border-width: 0em;
    color: rgb(50, 51, 51);
    background-color: rgb(142, 203, 231);
    font-size: xx-large;
    filter: brightness(1);
}

#navigation > button:hover {
    cursor: pointer;
    filter: brightness(0.9);

}

#logo {
    font-family: kindnrich;
    margin-top: 6rem;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    color: rgb(46, 137, 179);
    font-size: 150px;
    height: fit-content;
}

#blurb {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 60px;
}

span {
    float: right;
}


#plates {
    margin-left: auto;
    margin-right: auto;    
    font-size: 25px;
    width: 550px;
    height: 5em;
}

#plates > div {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color:rgb(139, 193, 218);
    border-radius: 15px;
}

#plates > div:hover {
    background-color: rgb(248, 248, 223);
    cursor: pointer;
}

img {
    width: 100%;
    max-height: 45vh;
    border-radius: 15px;
    padding-bottom: 10px;
    display: none;
}

#plates > div:hover > 
img {   
     display: block;
}


header {
    font-size: 25px;
    text-align: center;
    font-weight: 550;
}

#OpeningTimes {
    color:  rgb(54, 53, 53);
    font-size: 25px;
    text-align: center;
}

table {
    font-weight: 550;
    font-size: 28pt;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(139, 193, 218);
    border-style: none;
    border-radius: 15px;
    width: 600px;
}

#contactTitle {
    font-weight: 700;
}

address {
    font-size: 25px;
    padding-top: 3rem;
    margin-right: auto;
    margin-left: auto;
}